@import url('http://fonts.cdnfonts.com/css/nasalization-2');

.dao h5{
    text-align: center;
    font-size: 3rem;
    font-weight: normal;
    padding-bottom: 30px;
    color: white;
    font-family: 'Nasalization', sans-serif;
    letter-spacing: 5px;
}
.dao h6{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
    color: rgb(255, 254, 116);
}

.dao a{
    text-align: center;
    font-size: 25px;
   color: #0FDED2
}

.daoQuote{
    padding-bottom: 100px;
}

@media (min-width: 768px) and (max-width: 990px){
    .dao h6{
    font-size: 20px ;
    line-height: 24px;
    }
}

@media (max-width: 575.98px){
.dao h5{
    font-size: 25px;
}

.dao h6 {
    font-size: 20px;
    line-height: 25px;
}

.dao a{
    font-size: 20px;
}

}