.btnWrapper {
    border: 1px solid #79FFF6;
    padding: 0.1rem 3.4em;
    border-radius: 0px;
    background-color: #000;
    /* background-image: linear-gradient(to left, transparent 0%, #6adf76 100%); */
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    /* width: 400px; */
    margin: auto;
}

.btnWrapper:hover {
    font-weight: 400;
    /* background: none; */
    background-image: linear-gradient(to left, transparent 0%, #6adf76 100%); 
}
.btnText{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}

.btnText:hover{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}

.header{
    display: inline-flex;
}

.header h5{
    margin-top: 50px;
    padding-left: 10px;
}

.dao p{
    font-size: 24px;
    line-height: 29px;
    font-family: 'Bentham', serif;
}

.dao h5{
    font-size: 30px;
    font-family: 'Bentham', serif;
}

@media (min-width: 768px) and (max-width: 990px){
    .dao p{
    font-size: 20px ;
    line-height: 24px;
    }
}

@media (max-width: 575.98px){
.dao h5{
    font-size: 25px;
}

.dao p {
    font-size: 16px;
    line-height: 19px;
}

}
