/* .partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    max-width: 1450px;
    margin: 10px;
    border-bottom: 1px solid #dddddd;
    background-color: #eeeeee;
} */

.logoContainer{
    /* border-bottom: 1px solid #dddddd; */
    /* background-color: #eeeeee; */
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /* padding-bottom: 40px; */
     margin-bottom: 80px; 
     margin-top: 30px;
}

.partners li {
    padding: 7px 12px;
    margin: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media only screen and (max-width: 992px) {
    .partners li {
      flex: 0 1 14rem;
    }
}

.logoContainer span{
    margin-bottom: 20px !important;
}

.img1 img{
    height: 70px !important;
    width: 250px !important;
}

.img2 img{
    height: 70px !important;
    width: 250px !important;
}

.img3 img{
    height: 100px !important;
    width: 130px !important;
}

.img4 img{
    height: 100px !important;
    width: 130px !important;
}


