@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.tr {
    height: 40px !important;
  }
  
  .th {
    max-width: 125px;
    min-width: 125px;
    padding: 10 !important;
    /* overflow-x: auto; */
    white-space: nowrap;
    text-align: center !important;
    font-weight: bold !important;
    color: white !important;
    font-family: 'Raleway' !important;
  }
  
  .td {
    height: 40px !important;
    padding: 20px !important;
    text-align: center !important;
    color: white !important;
    font-family: 'Raleway' !important;
  }
  
  .carousel{
      width: 100%;
     padding-top: 80px;
     padding-bottom: 80px;
     border-radius: 30px;
     margin-left: auto;
     margin-right: auto;
     /* border: 1px solid rgb(235, 233, 233); */
     background: #00000ac4;
    box-shadow: 0 3px 10px rgba(196, 192, 192, 0.2);
    backdrop-filter: blur(70px);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 100px;
    font-family: 'Raleway';
  }

  .main{
        padding-top: 150px;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        font-family: 'Raleway' !important;
        padding-bottom: 100px;
        min-height: 100vh;
  }

  .clock{
      background: white;
      border-radius: 30px;
      margin-bottom: 50px;
      /* border: 1px solid rgb(235, 233, 233); */
      background: #00000ac4;
      box-shadow: 0 3px 10px rgba(196, 192, 192, 0.2);
     
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
  
  }

  .carouselText1{
    color: rgb(255, 254, 116);
      font-size: 24px; 
  }

  .carouselText2{
    color: white;
    font-size: 18px; 
}

.table{
    background: #00000ac4;
    /* margin-bottom: 100px; */
    border-radius: 10px;
}
.title{
    color: rgb(255, 254, 116);
}

.pagination{
  margin-top: 20px;
  float: right;
 
}

.pagination a{
  color: #000 !important;
  background: rgb(255, 254, 116);
  margin-right: 20px;
  /* margin-left: 10px; */
  border-radius: 5px;
  display: inline-flex;
  text-decoration: none;
}

.loading {
  display: block;
  width: 30px;
  height: 30px;
  margin: auto;
  
}

.loading div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 254, 116) transparent transparent transparent;
  text-align: center !important;
}
.loading div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingContainer{
  border-bottom: none;
  height: 100px;
}

.icon{
  font-size: 20px;
}



@media (max-width: 575.98px){
    .main{
        margin: 0;
    }
    .pagination a{
      margin-right: 5px;
      margin-left: 5px;
    }
    .pagination{
      display: inline-flex;
    }
    .loading{
      margin-left: 150px !important;
    }
}



