.wrapper{
    padding-top: 80px;
    /* background: linear-gradient(to left, #010124e1, #010124e1) */
    height: 100vh ;
}

.content {
  /* background-color: #142237ec; */
}
.bannerContainer {
  display: flex;
  /* background-color: red; */
  height: 200px;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  justify-content: center;
  /* background-color: lightslategrey; */
  padding: 0rem 1rem 4rem;
}
.stepperContainer {
  padding: 1rem;
}
