.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    padding-top: 7rem;

}

.content {
    padding: 25px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgba(240, 235, 235, 0.4);
}
