.main{
    padding-top: 150px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: 'Raleway' !important;
    padding-bottom: 100px;
    min-height: 100vh;
}