.container {
    height: 100%;
    display: flex;
    align-items: center;  
}

.linksWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    list-style: none;
    background-color: #fff;
    width: 100%;
    flex-direction: column;
    position: fixed;
    top: 65px;
    left: 0;  
}

.linkItem {
    width: 100%;
    padding: 0 1.1em;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
