
.card {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-evenly;
    background-color: blue; */
    /* width: 100%;
    height: 25rem; */
    margin: 30px;
    /* box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5); */
    border-radius: 15px;
    background-color: transparent;
      /* overflow: hidden; */
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    z-index: 0;
    padding-top: 50px;
    min-height: 20rem;;

}

.content {
    padding: 0 20px;
    text-align: center;
    /* height: 90%; */
    /* transform: translateY(100px);
    opacity: 0; */
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
} */
.content h2 {
    font-size: 2em;
    color: white;
    z-index: 1;
    position: relative;
    color: #142237da;
    width: fit-content;

}
.content h2::before{
    content: '';
    /* width: 80px; */
    position: absolute;
    justify-content: center;
    bottom: -15px;
    width: 70px;
    height: 5px;
    background:  #142237da;
    transition: all 0.4s ease-in-out;
    left: 0px;
}
.content h2::after{
    content: '';
    position: absolute;
    justify-content: end;
    right: 0px;
    width: 70px;
    height: 5px;
    top: -5px;
    background:  #142237da;
    transition: all 0.4s ease-in-out;
}
.card:hover h2::before{
    background:  #1f3555b7;
    width: 100%;
}
.card:hover h2::after{
    background:  #1f3555b7;
    width: 100%;
}

.content p {
    font-size: 24px;
    letter-spacing: 1.5px;
    color:  white;
    font-weight: lighter;
    padding: 20px;
    line-height: 29px;
    font-family: 'Raleway';
    color: #142237da;
    text-align: left;
}
.card:hover {
    border: 3px solid rgba(255, 255, 255, 0.479);
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.6);
}



@media (min-width: 768px) and (max-width: 990px){
    .content p{
    font-size: 20px ;
    line-height: 24px;
    }
}

@media (max-width: 575.98px){
.content h2{
    font-size: 25px;
}

.content p {
    font-size: 16px;
    line-height: 19px;
}

}