.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 230px;
    padding: 10px;
}
.clock {
    background-color: white;
    padding: 50px;
    border-radius: 50%;
    border: 2px solid white;
    color: black;
}