.container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    /* transition: top 0.5s, z-index 0s, transform 0.5s;
    transition-delay: 0.4s, 0.5s, 0s; */

}
.container:hover {
    /* top: -50px; */
    /* transform: translateY(50px); */
    transition-delay: 0s, 0.5s, 0.5s; 
    /* z-index: 4; */
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 2555, 255, 0.5);
    z-index: 3;
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

.container:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

.inner {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: rotateZ(-45deg);
    filter: blur(15px);
}

.shadow {
    position: absolute;
    width: 85%;
    height: 20px;
    border-radius: 50%;
    bottom: -50%;
    background: rgba(0, 0, 0, 0.45);
    filter: blur(9px);
}