
.content {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 80vh;
    width: 100vw;
    z-index: 1;
}



.carousel {
    margin-top: 10;
    width: 300;
    height: 800;
    background-color: 'black';
}



.downArrowContainer {
    display: inline;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-0%);
}
@keyframes animate {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}

