.container {
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}
.container:hover {
    color: rgba(255, 255, 255, 0.9);
}