@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('http://fonts.cdnfonts.com/css/nasalization-2');

.vectors{
    /* background: white !important; */
    padding-top: 100px;

}

.vectors h5{
    color: rgb(15, 222, 210);
    font-weight: bold;
    font-size: 4rem;
    text-align: left;
    font-family: 'Raleway', sans-serif !important;
}

.charities{
    color: rgb(255, 254, 116);
}

.vectors h6{
    color: rgb(255, 254, 116);
    line-height: normal;
    letter-spacing: normal;
    font-size: 28px;
    text-align: left;
    font-family: 'Raleway', sans-serif !important;
}

.vectors p{
    color: white;
    font-family: 'Raleway', sans-serif !important;
    line-height: 34px !important;
}


.vectors h3 {
    text-align: center;
    font-family: 'Nasalization', sans-serif !important;
    font-size: 2.5em;
    color: white;
    letter-spacing: 3px;
    z-index: 1;
    position: relative;
    /* color: #142237da; */
    font-weight: bold;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;

}

.gameRow:hover h3::before{
    background:  #1f3555b7;
    width: 100%;
}
.gameRow:hover h3::after{
    background:  #1f3555b7;
    width: 100%;
}


.games{
   animation: animate 3s linear infinite;
    animation-delay: calc(-1s * var(--i)); 
    cursor: pointer;
}
.games1{
    margin-top: 50px;
    animation: animate 3s linear infinite;
    animation-delay: calc(-1s * var(--i)); 
    cursor: pointer;
} 

.gameCard p{
    font-size: 24px;
    line-height: 29px;
}

.gameCard h6{
    font-size: 30px;
}

@media (min-width: 768px) and (max-width: 990px){
    .gameCard p{
    font-size: 20px ;
    line-height: 24px;
    }
}

@media (max-width: 575.98px){
.gameCard h6{
    font-size: 25px;
}

.gameCard p {
    font-size: 16px;
    line-height: 19px;
}
.games1{
    margin-top: -30px;
}
.games{
    margin-top: -40px !important;
}

.vectors h5{
    font-size: 2rem;
}

.vectors h3{
    font-size: 1.8rem;
}

.vectors p{
    line-height: 24px !important;
}

}


@media (max-width: 776px) { 
    .games{
        margin-top: 0px ;
       
      }
      
 }


.box {
    position: relative;
}
 

@keyframes animate {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}
@keyframes animateBox {
    0%, 100% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}