@import url('http://fonts.cdnfonts.com/css/nasalization-2');

.games h3{
    font-family: 'Nasalization', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;
}
.games p{
    font-size: 20px;
    font-family: 'Raleway';
}
.games{
    padding-bottom: 70px;
    
}

.tokens{
    text-align: center;
}

.tokens h5{
    color: #fff;
    font-size: 40px;
}

.games figure{
    display: inline-flex;
    padding-bottom: 100px !important;
    padding-right: 50px;
}
.games figcaption{
    color: white;
   margin: auto;
   text-align: justify;
   margin-bottom: -50PX;
   margin-left: -60px;
}


@media (max-width: 575.98px){
    .games figure{
        padding-right: 15px;
    }
}

