@import url('http://fonts.cdnfonts.com/css/nasalization-2');

.charityOrganization{
    /* border: 1px solid white; */
    background-color: transparent;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.2s ease-in-out;
    z-index: 0;
    padding-top: 50px;
    /* border: 3px solid rgba(255, 255, 255, 0.479); */
    height: 100%;  
}

.charityOrganization .tokenImg{
    border-radius: 100%;
}

.games .charityOrganization figure{
    padding-bottom: 50px !important;
}


.games h3{
    font-family: 'Nasalization', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 4px;
}
.games p{
    font-size: 20px;
    font-family: 'Raleway';
}
.games{
    padding-bottom: 70px;
    
}

.tokens{
    text-align: center;
}

.tokens h5{
    color: #fff;
    font-size: 40px;
}

.games figure{
    display: inline-flex;
    padding-bottom: 100px !important;
    padding-right: 50px;
}
.games figcaption{
    color: white;
   margin: auto;
   text-align: justify;
   margin-bottom: -50PX;
   margin-left: -60px;
}


@media (max-width: 575.98px){
    .games figure{
        padding-right: 15px;
    }
    .games p{
        font-size: 18px;
    }
    .games img{
        height: 70px !important;
        width: 100px !important;
    }

    .games h3{
        font-size: 1.8rem;
    }
}

