html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Play', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   /* background-color: #142237; 
   background-color: #222831; */
   background: linear-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg);
   background: -moz-linear-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg); /* FF3.6+ */
   background: -webkit-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg); /* Opera 11.10+ */
   background: -ms-linear-gradient(0deg, rgba(7, 7, 7, 0.603), rgba(7, 7, 7, 0.603)) ,url(../public/images/bg-img.jpg); /* IE10+ */
   
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size:cover;
  color: white;
  min-height: "100vh";

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

