.btn {
    z-index: 9;
    cursor: pointer;
    padding-top: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #142237;
}
.btn svg {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(145deg) brightness(118%) contrast(119%);
}