.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    margin-top: 15px;
    right: 30px;
    margin-right: 5px;
    width: 270px;

    background:#142237f1;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border: 2.5px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: 0.5s;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.linkItem{
    width: 90%;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .linkItem:last-child{
    border-bottom:  none;
}

.linkItem a {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    display: inline-flex;
    margin: 5px 0;
    transition: 0.2s;
}
.menu:hover .linkItem {
    opacity: .3;
    filter: blur(1px);
}

.menu .linkItem:hover {
    opacity: 1;
    filter: blur(0px);
    color: #0FDED2;
    border-bottom: 1px solid #0FDED2;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .menu {
        right: 15px;
        margin-right: 0px;
    }

}